 
 



body {

padding: 0;
     margin: 0;
}



 
 
 
 .gornji {
display: flex;
justify-content: space-around;
background-color: #1f2937 ;
    color: white;
align-items: center;


}



h5 {
font-size: 24px;
color: #f9faf8;


}

ul {
display: flex;
gap: 16px;
justify-content: space-between;



}

li {
list-style-type: none;
font-size: 18px;
color: #e5e7eb;

}

.container-drugi {
    background-color: #1f2937 ;
display: flex;
flex-direction: row;
justify-content: center;

padding: 50px;
}

.slika img {

width: 500px;
height: 300px;


}



.slika {
padding: 30px;


}



.text {
padding: 30px;

flex-direction: column ;
justify-content: center;
max-width: 500px;
min-height: 350px;
flex: 1
;
}

h1 {
font-size: 48px;
color: white;


}

p {

font-size: 18px;
color: #f9faf8;



}



.botun  {

display: flex;
flex-shrink: 1;


}

button {
 background-color: #3882f6 ;
color: white;
padding: 10px;

}



.container-treci {

padding: 0;
margin: 0;



}

 .container-treci h1 {
color: #1f2937;
justify-content: center;
display: flex;
}
.boxes {

display: flex;
flex-direction: row;
justify-content: center;

}
 
 


.box img  {
width: 200px; 
height: 200px;

border-radius: 25px;

}

.box {
display: flex;

width: 300px;
height: 300px;

flex-direction: column;
}

.box p {
color: #1f2937;


}


.container-cetvrti {
padding: 0;
margin: 0;
display: flex;
align-items: center;
justify-content: center;
align-items: center;
background-color: #e5e7eb;
}

.quote {
display: flex;
flex-direction: column;
width: 700px;

}

.quote p {
color: black;
font-size: 36px;
font-style: italic;

}

.mali {

display: flex;
flex-direction: row;
justify-content: flex-end;
flex-shrink: 0;
font-size: 25px;
font-weight: 900;
}

.container-peti {

    padding: 0;
    margin: 0;
 
display: flex;
justify-content: center;
}

.call {

display: flex;
margin: 60px;
background-color: rgb(81, 138, 238) ;
width: 900px;
padding: 30px;
justify-content: space-around;
border-radius: 25px;
flex-shrink: 0 ;
}


.text-p {

display: flex;
flex-direction: column;

}



.text-p h1 
{

    color: white;
    font-size: 30px;

}

.text-p p {
color: white;
font-size: 25px;




}

 button {
font-size: 20px;
color: white;
height: fit-content;
align-self: center;
border-radius: 15px;
border-color: #f9faf8;
} 
 